### list
## append -- to adds single elements at the end of the list

In [4]:
my_list = [1, 2, 'abc', 4]

In [5]:
my_list.append('ankit')

In [56]:
print(my_list)

[1, 2, 'abc', 4, 'ankit']

In [57]:
my_newlist = [1, 4]

In [58]:
my_list.append(my_newlist)

In [60]:
my_list

[1, 2, 'abc', 4, 'ankit', [1, 4]]

## clear -- to clear all the elements of the list

In [25]:
my_list1 = [1, 2, [3, 4], 'abc']

In [26]:
my_list1.clear()

In [27]:
my_list1

[]

## copy -- making changes in a list by duplicating without any change its original elements

In [49]:
list = [1, 2, 3, ['a', 2]]

In [50]:
list

[1, 2, 3, ['a', 2]]

In [45]:
new_list = list.copy()

In [46]:
new_list.append(2.1)

In [47]:
new_list

[1, 2, 3, ['a', 2], 2.1]

In [48]:
list

[1, 2, 3, ['a', 2]]

## count -- count number of elements

In [51]:
list2 = [1, 2, 3, 'ankit' , 'soni', 'ankit']

In [52]:
count = list2.count('ankit')

In [53]:
print(count)

2

In [54]:
count = list2.count(0)

In [55]:
print(count)

0

## extend -- add another list of elements

In [61]:
list3 = ['ankit', 'soni' , 'ravi']

In [62]:
list4 = ['pooja', 'shruti']

In [63]:
list3.extend(list4)

In [64]:
list3

['ankit', 'soni', 'ravi', 'pooja', 'shruti']

In [65]:
list4

['pooja', 'shruti']

## index -- find position of element in list

In [66]:
list5 = [1, 2, 'a', 'b']

In [73]:
list5.index('a')

2

In [70]:
list5.index(0)

ValueError: 0 is not in list

## insert -- insert element at any position

In [74]:
list6 = [1, 2, 4, 5, 'a']

In [75]:
list6.insert(2 ,3)

In [76]:
list6

[1, 2, 3, 4, 5, 'a']

In [77]:
list6.insert(2,'b')

In [78]:
list6

[1, 2, 'b', 3, 4, 5, 'a']

## pop -- removes single element from list and return that element

In [79]:
list7 = [4, 5, 6, ['a', 'c']]

In [80]:
list7.pop(3)

['a', 'c']

In [81]:
list7

[4, 5, 6]

## remove -- same as pop() but not return any value

In [82]:
list8 = [1 , 2, 3]

In [83]:
list8.remove(2)

In [84]:
list8

[1, 3]

In [85]:
list8.remove(0)

ValueError: list.remove(x): x not in list

## reverse -- reverse order of elements

In [86]:
list9 = [1, 2, 3]

In [87]:
list9.reverse()

In [88]:
list9

[3, 2, 1]

## sort -- shorted in decending order

In [89]:
list10 = [2, 4, 5, 1, 10]

In [90]:
list10.sort()

In [92]:
list10

[1, 2, 4, 5, 10]

### tuple
## count

In [93]:
tuple1 = (1, 2, 3)

In [94]:
tuple1.count(1)

1

In [95]:
tuple1.count('a')

0

## index

In [97]:
tuple2 = (1, 2, 3, 4)

In [98]:
tuple2.index(1) set.

0

In [99]:
tuple2.index(2)

1

### set
## add

In [100]:
set1 = {1, 2, 3}

In [101]:
set1.add(4)

In [102]:
set1

{1, 2, 3, 4}

In [103]:
set1.add(2)

In [104]:
set1

{1, 2, 3, 4}

## clear

In [105]:
set2 = {1, 2, 3}

In [107]:
set2.clear()

In [108]:
set2

set()

## copy

In [110]:
set3 = {1, "ankit", 2}

In [111]:
set4 = set3.copy()

In [112]:
set4

{1, 2, 'ankit'}

In [113]:
set4.add("soni")

In [114]:
set4

{1, 2, 'ankit', 'soni'}

## difference

In [115]:
set5 = {1, 2, 3, 4, 5}

In [123]:
set6 = {1, 3, 4, 7}

In [125]:
set5.difference(set6)

{2, 5}

In [131]:
set5

{2, 5}

In [126]:
set6.difference(set5)

{7}

## difference update

In [142]:
set7 = {1, 2, 3, 4, 5}

In [143]:
set8 = {1, 3, 4, 7}

In [145]:
set7

{1, 2, 3, 4, 5}

In [146]:
set7.difference_update(set8)

In [147]:
set7

{2, 5}

In [148]:
a = set7.difference_update(set8)

In [149]:
a

In [150]:
print(a)

None

## discard

In [151]:
set9 = {1, 2, 3, 5}

In [152]:
set9.discard(3)

In [153]:
set9

{1, 2, 5}

## intersection

In [155]:
set10 = {11, 12, 13, 'ankit'}

In [156]:
set11 = {'ankit', 'soni', 12}

In [157]:
set12 = {11, 12, 14, 15}

In [159]:
print(set10.intersection(set11))

{'ankit', 12}

In [160]:
print(set10.intersection(set11,set12))

{12}

## intersection update

In [161]:
set13 = {1, 2, 3, 4}

In [162]:
set14 = {1, 3, 4, 5}

In [163]:
a = set13.intersection_update(set14)

In [164]:
print(a)

None

In [166]:
set13.intersection_update(set14)

In [167]:
set13

{1, 3, 4}

In [168]:
set14

{1, 3, 4, 5}

## isdisjoint

In [169]:
set15 = {1, 2, 3}

In [170]:
set16 = {2, 3, 4}

In [171]:
set17 = {6, 7, 8}

In [172]:
set15.isdisjoint(set16)

False

In [173]:
set15.isdisjoint(set17)

True

## issubset

In [174]:
set18 = {1, 2, 3, 4, 5, 6}

In [175]:
set19 = {2,3,4}

In [176]:
set18.issubset(set19)

False

In [177]:
set19.issubset(set18)

True

## issuperset

In [183]:
set18.issuperset({1})

True

In [184]:
set18.issuperset({1, 3, 5})

True

In [185]:
set18.issuperset({1,9})

False

## pop

In [186]:
set19 = {1, 2, 3, 4}

In [191]:
set19.pop()

2

set19.pop()

In [193]:
print(set19)

{3, 4}

In [194]:
set19.pop()

3

In [195]:
set19

{4}

In [196]:
set19.pop()

4

In [197]:
set19

set()

## remove

In [198]:
set20 = {1, 2, 3, 4}

In [199]:
set20.remove(2)

In [200]:
set20

{1, 3, 4}

## symmetric difference

In [201]:
set21 = {1, 2, 3, 4, 5, 6}

In [202]:
set22 = {1, 5, 7, 8}

In [203]:
set21.symmetric_difference(set22)

{2, 3, 4, 6, 7, 8}

## symmetric_update_difference

In [206]:
a = set21.symmetric_difference_update(set22)

In [209]:
print(a)

None

## union

In [210]:
set22 = {1, 2, 3}

In [211]:
set23 = {3, 4, 5, 6}

In [212]:
set24 = {2, 8 , 9}

In [213]:
set22.union(set23, set24)

{1, 2, 3, 4, 5, 6, 8, 9}

## update

In [214]:
set25 = {1, 2, "ankit"}

In [215]:
set25

{1, 2, 'ankit'}

In [231]:
set26 = {1, 2, 3, 4, 5, 7}

In [232]:
set26

{1, 2, 3, 4, 5, 7}

In [233]:
set25.update(set26)

set25

In [234]:
set25

{1, 2, 3, 4, 5, 6, 7, 'ankit'}