### String
## Capitalize

In [19]:
str = "ankit"

In [20]:
print("first letter in string transform to capital: ", str.capitalize())

first letter in string transform to capital:  Ankit

## Casefold

In [21]:
str1 = " Ankit Soni Practicing pYtHoN"

In [22]:
print("make lower case of all the letter in string: ", str1.casefold())

make lower case of all the letter in string:   ankit soni practicing python

## Center

In [23]:
str2 = " python"

In [48]:
str3 = str2.center(200)

In [49]:
print(str3)

                                                                                                 python

## count

In [50]:
str4 = "ankit soni"

In [53]:
str4.count("soni")

1

In [58]:
str5 ="my name is ankit, what is yours?"

In [59]:
str5.count("is")

2

## endswitch

In [60]:
str6 = " python is easy to learn"

In [83]:
str7 = str6.endswith("to learn")

In [84]:
print(str7)

True

## expandtabs

In [88]:
str8 = "python\tfor\tdata\tscience."

In [89]:
result = str8.expandtabs(2)

In [90]:
print(result)

python  for data  science.

In [91]:
result = str8.expandtabs()

In [92]:
print(result)

python  for     data    science.

In [93]:
str9 = "python for data science"

In [94]:
result = str9.find("for")

In [95]:
print(result)

7

In [96]:
result = str9.find(" ")

In [97]:
print(result)

6

In [98]:
word1 = "data science"

In [99]:
word2 = "python"

In [100]:
print("i am learning {} with {}".format(word1,word2))

i am learning data science with python

In [101]:
str10 = "i am learning data science with python"

## index

In [102]:
print(str10.index("data"))

14

## isaalnum

In [103]:
str10 = "lJsdslj134"

In [104]:
print(str10.isalnum())

True

In [105]:
str11 = "kehjfljdf$%$^&^&"

In [107]:
print(str11.isalnum())

False

## isalpha

In [108]:
str12 = "123"

In [109]:
print(str12.isalpha())

False

In [110]:
str13 = "jkudhfihksdkxkgnknksxfkjgohakZXHkf"

In [111]:
print(str13.isalpha())

True

## isdecimal

In [112]:
str14 = "izizhflzkdnffknsknkFnkbAZKNFfln  ksanzrkdfln"

In [113]:
print(str14.isdecimal())

False

In [114]:
str15 = "82345979203"

In [116]:
print(str15.isdecimal())

True

## isidentifier

In [119]:
str16 = "Ankit"

In [121]:
print(str16.isidentifier())

True

In [122]:
str17 = "lsazsld  1678389  shngfl"

In [123]:
print(str17.isidentifier())

False

## islower

In [124]:
str18 = "AnKiT"

In [127]:
print(str18.islower())

False

In [128]:
str19 = "soni"

In [129]:
print(str19.islower())

True

In [130]:
str20 = "749840"

In [131]:
print(str20.isnumeric())

True

In [132]:
print(str18.isnumeric())

False

## isprintable

In [134]:
print(str18.isprintable())

True

In [135]:
print(str20.isnumeric())

True

## isspace

In [136]:
str21 = "ankit soni"

In [137]:
print(str21.isspace())

False

In [138]:
str22 = "            "

In [139]:
print(str22.isspace())

True

## istitle

In [140]:
str = "python for data sceince"

In [141]:
print(str.istitle())

False

In [142]:
str = "Python For Data Sceince"

In [143]:
print(str.istitle())

True

## isupper

In [144]:
str = "python"

In [145]:
print(str.isupper())

False

In [147]:
str = "PYTHON"

In [148]:
print(str.isupper())

True

## join

In [169]:
str24 = "ankit"

In [170]:
str25 = "soni"

In [171]:
str24.join(str25)

'sankitoankitnankiti'

## ljust

In [172]:
str24 = "ankit"

In [175]:
print(str24.ljust(5))

ankit

## lower

In [181]:
str24 = "ANKIT"

In [182]:
print(str24.lower())

ankit

## lstrip

In [203]:
str24 = "ankit"

In [205]:
print(str24.lstrip("akit"))

nkit

In [208]:
str25 = "python for data science"

## partition

In [212]:
print(str25.partition("for"))

('python ', 'for', ' data science')

## replace

In [222]:
str1= "ankit ankit ankit soni"

In [223]:
str2 = "soni"

In [224]:
print(str1.replace(str1, str2))

soni

In [226]:
str1

'ankit ankit ankit soni'

In [227]:
str2

'soni'

In [230]:
str1.replace("ankit", "soni")

'soni soni soni soni'

In [231]:
str1= "ankit ankit ankit soni"

In [233]:
print(str1.rfind("soni"))

18

In [234]:
print(str1.rindex("soni"))

18

## rjust

In [236]:
str1 = " python"

In [242]:
print(str1.rjust(50))

                                            python

## rpartition

In [243]:
str1 = "python for data science"

In [244]:
print(str1.rpartition("for"))

('python ', 'for', ' data science')

## rsplit

In [245]:
str1 = "python for data science"

In [248]:
print(str1.rsplit("e"))

['python for data sci', 'nc', '']

## rstrip

In [258]:
str1 = "python for data science"

In [257]:
print(str1.rstrip("n"))

python for data science

## split

In [259]:
str1 = "python for data science"

In [261]:
print(str1.split("e"))

['python for data sci', 'nc', '']

## startswith

In [262]:
str1 = "python for data science"

In [263]:
print(str1.startswith("for"))

False

In [264]:
print(str1.startswith("python"))

True

## strip

In [305]:
str1 = "python for data science"

In [306]:
print(str1.strip("science"))

python for data

## swapcase

In [307]:
str1 = "python for data science"

In [308]:
print(str1.swapcase())

PYTHON FOR DATA SCIENCE

In [309]:
str2 = "PYTHON for DATA science"

In [310]:
print(str2.swapcase())

python FOR data SCIENCE

In [311]:
str1 = "python for data science"

In [312]:
print(str1.title())

Python For Data Science

## upper

In [313]:
str1 = "python for data science"

In [314]:
print(str1.upper())

PYTHON FOR DATA SCIENCE

## zfill

In [315]:
str1 = "123"

In [316]:
print(str1.zfill(3))

123

In [317]:
str1 = "123"

In [318]:
print(str1.zfill(4))

0123